<div class="background">
    salut les cramés, ici tu peux créer ton meilleur kot et le mettre en ligne 'he oua mon ga'




<!-- test de form avec html  -->


    <form class="simple_form new_kot" id="new_kot" novalidate="novalidate" action="/kots" accept-charset="UTF-8" method="post"><input type="hidden">

            <div>
                <div>
                    <div class="input string optional kot_adresse"><label class="string optional" for="kot_adresse">Adresse</label><input class="string optional input" type="text" name="kot[adresse]" id="kot_adresse"></div>
                </div>
            </div>

            <div>
                <div>
                    <div class="input text optional kot_description"><label class="text optional" for="kot_description">Description</label><textarea class="text optional textarea" name="kot[description]" id="kot_description"></textarea></div>
                </div>
            </div>

            <input type="submit" name="commit" value="Create Kot" class="btn button is-primary" data-disable-with="Create Kot">

    </form>


    
    
</div>