<div class="background">
    <div class="container-center">
        <div class="header-show-kot">
            <h1>Header-show-kot</h1>
        </div>
        <div>
            <div>
                <h1 class="center-left kot-title">@kot.type</h1>  <!--todo, ajouter ça dans la db -->
            </div>

            <div class="container-images-kot">
                images
            </div>

        </div>

        <div class="container-kot-info">
            
            <strong>adresse : <%= @kot.adresse %></strong> 
            <div>@kot.ville</div>
            
            <div>
                description : <%= @kot.description %>
            </div>
        </div>

        <hr>

        <div>
            contact proprio
        </div>

        <hr>

        <div>
            maps
        </div>
        


    </div>



</div>


<!--TODO faire le show
en gros ici ça sera l affichage du kot avec le contact vers proprio-->
